/**
 * Use relative root path for imports.
 * @import "./src-pkg/module/index.pcss"; -> false
 * @import "./module/index.pcss"; -> true
 */

@import "./adblocker/index.pcss";
@import "./breakpoint/index.pcss";
@import "./noscript/index.pcss";
@import "./outdatedbrowser/index.pcss";
